<div #screen  style="width: 100%; margin: 5% auto; box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);">
    <div class="card-header card-title" style="text-align: center; font-weight: bold;">
      <!-- <img width="100px" height="100px" src="{{Logo}}" /> -->
      <h4 class="card-title" style="text-align: center;" translate>Application Status Report </h4>
    </div>
    <div><div>    <div>
        <br> 
        <form class="row gx-3 gy-2 align-items-center">
          <div class="col-sm-3">
            <div class="input-group">
              <select class="form-control" [(ngModel)]="Form.subcity" name="Subciy" id="Subciy" (change)="passSubcity($event.target.value)">
                <ng-container *ngFor="let Org of Org">
                  <option [value]="Org.organization_code">
                    {{ language === 'amharic' ? Org.name_am : Org.name_am }}
                  </option>
                </ng-container>
              </select>
            </div>
          </div>
          <div class="col-sm-3">
            <input class="form-control" placeholder="application Number" name="UserId" id="UserId" [disabled]="Form.active" [(ngModel)]="Form.applictaion_Number">
          </div>
          <div style="max-width: 150px; display: flex; align-items: center;">
            <input style="width: 30px; margin-left: 10px;" type="checkbox" class="form-control" placeholder="application Number" name="check" id="check" (click)="check()" [(ngModel)]="Form.active" [checked]="true">
            &nbsp;<span>NULL</span>
          </div>
          <div class="col-sm-3">
            <button type="submit" (click)="getApplicatStatus()" class="btn btn-primary">View Report</button>
          </div>
          <div  style="text-align: right;">
            <button class="btn btn-primary" (click)="exportAsPdf()">Export as PDF</button>
          </div>
        </form>
        <br>
      </div>
  <table id="data-table" style="width: 100%" class="table col-md-12 text-center table-bordered">
    <thead style="background-color: #ADD8E6; color: black; font-weight: bold;">
              <tr>
                <th  colspan="2"  translate>Step</th>
            <!-- <th  class="task-column" translate>Task</th> -->
            <th  translate >Role Name</th>
            <th  translate >User Name</th>
            <th  translate>Status</th>
            <th  translate>Start Date</th>
            <th  translate>End Date</th>
            <th  translate>Estimated minute</th>
            <th  translate>Finshed with in minute of</th>
            <th  translate>Minutes late</th>
            <th  translate>First Name en</th>
            <th  translate>First Name Local</th>
            <th  translate>Last Name en</th>
            <th  translate>Last Name Local</th>
            <th  translate>Middle Name en</th>
            <th  translate>Middle Name Local</th>
            <!-- <th scope="col" translate>Email</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="noRecord">
                <td colspan="16" class="header-table-message" style="margin-left: 500px">
                  <span class="pi pi-info-circle header-table-message-icon"></span>
                  <span class="header-table-message-text">No record!</span>
                </td>
              </tr> 
              <tr>
              </tr>

              <ng-container *ngFor="let recordf of paginatedUsers">
                <tr style="background-color: #C0C0C0; color: white; font-weight: bold;">
                    <td colspan="2" class="task-column" style="font-weight: bold; text-align: center;">
                      <p class="description">{{ recordf.servD }}</p>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr style="background-color:#D3D3D3; color: white; font-weight: bold;">
                    <td colspan="2" class="task-column" style="font-weight: bold; text-align: center;">
                      <p class="description">{{ recordf.servName }}</p>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                <tr >
                    <td colspan="16" style="font-weight: bold; text-align: left; background-color: #B0C4DE;">
                      <h4>{{ recordf.applicationNumber }}</h4>
                    </td>
                  </tr>
                  <tr *ngFor="let record of recordf.records" >
                    <td translate class="step-column">{{ record.step }}</td>
                    <td translate class="task-column">{{ record.task_Name }}</td>
                  <td translate>{{ record.roleName }}</td>
                  <td translate>{{ record.userName }}</td>
                  <td translate>{{ record.status }}</td>
                  <td translate>{{ record.start_date }}</td>
                  <td translate>{{ record.end_date }}</td>
                  <td translate>{{ record.estimated_minute_To_Finsh_This_Tasks }}</td>
                  <td translate>{{ record.finshed_with_in_minute_of }}</td>
                  <td translate>{{ record.minutes_late }}</td>
                  <td translate>{{ record.firstName_en }}</td>
                  <td translate>{{ record.firstName_Local }}</td>
                  <td translate>{{ record.lastName_en }}</td>
                  <td translate>{{ record.lastName_Local }}</td>
                  <td translate>{{ record.middleName_en }}</td>
                  <td translate>{{ record.middleName_Local }}</td>
                  </tr>
              </ng-container>
            </tbody>
          </table>
          <div id="pagination" class="pagination-container" >
            <button type="button" (click)="goToFirstPage()" [disabled]="currentPage === 1" class="pagination-button">
                <span class="pi pi-angle-double-left"></span>
              </button>
              <button type="button" (click)="goToPreviousPage()" [disabled]="currentPage === 1" class="pagination-button">
                <span class="pi pi-angle-left"></span>
                Previous
              </button>
            
            <button type="button" *ngFor="let page of pageRange"
              [ngClass]="{'active': page === currentPage, 'pagination-button': true}" (click)="changePage(page)">
              {{ page }}
            </button>
            <button type="button" (click)="goToNextPage()" [disabled]="currentPage === totalPages" class="pagination-button">
                Next
                <span class="pi pi-angle-right"></span>
              </button>
              <button type="button" (click)="goToLastPage()" [disabled]="currentPage === totalPages" class="pagination-button">
                <span class="pi pi-angle-double-right"></span>
                
              </button>
          </div>
        <p-table hidden
        #sit
        [value]="users"
        [rows]="1"
        [paginator]="true"
        dataKey="applicationNumber"
      >
        <ng-template pTemplate="header">
          <tr>
            <th scope="col" colspan="2" class="task-column" translate>Step</th>
            <!-- <th scope="col" class="task-column" translate>Task</th> -->
            <th scope="col" translate class="task-column">Role Name</th>
            <th scope="col" translate >User Name</th>
            <th scope="col" translate>Status</th>
            <th scope="col" translate>Start Date</th>
            <th scope="col" translate>End Date</th>
            <th scope="col" translate>Estimated minute</th>
            <th scope="col" translate>Finshed with in minute of</th>
            <th scope="col" translate>Minutes late</th>
            <th scope="col" translate>First Name en</th>
            <th scope="col" translate>First Name Local</th>
            <th scope="col" translate>Last Name en</th>
            <th scope="col" translate>Last Name Local</th>
            <th scope="col" translate>Middle Name en</th>
            <th scope="col" translate>Middle Name Local</th>
            <!-- <th scope="col" translate>Email</th> -->
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-group>
          <tr>
            <td colspan="2" style="font-weight: bold; text-align: center;">
              <p class="description">{{ group.servD }}</p><br>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="2" style="font-weight: bold; text-align: center;">
              <p class="description">{{ group.servName }}</p>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="16" style="font-weight: bold; text-align: left;">
              <h4>{{ group.applicationNumber }}</h4>
            </td>
          </tr>
          <ng-container *ngFor="let record of group.records | slice:sit.first:sit.first+sit.rows">
            <tr *ngFor="let record of group.records">
                <td translate class="step-column">{{ record.step }}</td>
              <td translate>{{ record.task_Name }}</td>
              <td translate>{{ record.roleName }}</td>
              <td translate class="task-column">{{ record.userName }}</td>
              <td translate>{{ record.status }}</td>
              <td translate>{{ record.start_date }}</td>
              <td translate>{{ record.end_date }}</td>
              <td translate>{{ record.estimated_minute_To_Finsh_This_Tasks }}</td>
              <td translate>{{ record.finshed_with_in_minute_of }}</td>
              <td translate>{{ record.minutes_late }}</td>
              <td translate>{{ record.firstName_en }}</td>
              <td translate>{{ record.firstName_Local }}</td>
              <td translate>{{ record.lastName_en }}</td>
              <td translate>{{ record.lastName_Local }}</td>
              <td translate>{{ record.middleName_en }}</td>
              <td translate>{{ record.middleName_Local }}</td>
              <!-- Display individual record properties -->
            </tr>
          </ng-container>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-users>
          <tr>
            <td colspan="16" style="color: red;">No records found</td>
          </tr>
        </ng-template>
      </p-table>
      </div>
    </div>
  </div>